/* aquí vamos a quitar la negrita a los h4 */
h5 {
  font-weight: normal;
}

/* En este ejemplo le estamos aplicando una serie de reglas a todos los elementos <p/> del documento HTML.
 */

p {
  font-family: "Segoe UI", sans-serif;
  font-weight: 800;
  color: royalblue;
}
/* Y en este cambiamos los párrafos de definición  y ejemplo y los ponemos en formato estándar. para que no se nos vean azules como hemos puesto el la regla p anterior */
p[class="definicion"],
p[class="ejemplo"] {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  color: black;
}

/* En este ejemplo le estamos aplicando una serie de reglas a todos los elementos que contengan la clase “mejores”. */
.mejores {
  font-style: italic;
  color: crimson;
}
/* aquí le damos estilo al id = best y al id = worst,!!solo puede haber un elemento con un determinado id. NO PUEDE HABER 2 ELEMENTOS CON EL MISMO ID */
#best {
  background-color: crimson;
}
#worst {
  background-color: darkgoldenrod;
}
/* aquí por practicar, como habíamos estilado <p> anteriormente , he cambiado code que se encontraba dentro de una <p> para que tuviera otro color y otro tamaño */
code {
  font-weight: 1em;
  color: black;
}


/* En este ejemplo le estamos aplicando una regla diferente a los diferentes anchor’s especificando su atributo href y su distinto valor, pudiendo variar el color dependiendo del valor del atributo. */

a[href="www.google.com"] {
  color: blue;
}

a[href="www.twitter.com"] {
  color: aqua;
}

a[href="www.github.com"] {
  color: purple;
}
/* aquí voz a modificar la ul class="combinadores css" para que me haga la lista como si escribiera un texto normal, ya que solo quiero la lista por la riqueza semántica no por el estilo o formato. */
ul[class="combinadores css"] {
  list-style: none;
  padding: 0;
}

/* En este ejemplo estamos utilizando el elemento “li” que viene continuación del primer “li”, recuperado a través de la pseudo-clase “first-of-type”. li:first-of-type + li { font-style: italic; color: blue; } */

li:first-of-type + li[class="hermanos adyacentes"] {
  font-style: italic;
  color: orange;
}

p ~ span {
  font-style: italic;
  color: blue;
}

/* Este combinador, cuya sintaxis es el character “>”, selecciona los elementos que son hijos directos del primer elemento. Es de los más utilizados. En este caso, recuperará todos los coincidentes que compartan el mismo padre. */
/* .lotr > li { color: green; font-weight: bold; }  */
.lotr > li {
  color: green;
  font-weight: bold;
}
/* .hob > li {
  color: goldenrod;
} */
.hob > li {
  color: goldenrod;
}

/* En este ejemplo estamos seleccionando cualquier elemento span dentro de la clase .two-towers, sin necesidad que sea directo o adyacente, pero concretando el scope dentro de la clase indicada. */
/* .two-towers span { color: crimson; font-weight: bold; } */
.two-towers span {
  color: crimson;
  font-weight: bold;
}


/* Y en este cambiamos el parrafo two-towers y lo ponemos en formato estándar. para que no se nos vean azules como hemos puesto n la regla p inicial */
p[class="two-towers"]{
  font-family: "Segoe UI", sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  color: black;
 }